<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for(let x in animals){ %>
            <tr>
                <td><a href="/mongooses/<%=animals[x]._id%>"><%=animals[x].name%></a></td>
                <td>
                    <a href="/mongooses/edit/<%=animals[x]._id%>">Edit</a>
                    <a href="/mongooses/destroy/<%=animals[x]._id%>">Delete</a>
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>
    <a href="/mongooses/new">Add a Mongoose</a>
</body>
</html>